<div class="auth">
  {{#> Modal class="modal-auth" title="Вход" footer=true form=true }}
  {{#*inline "body"}}
  {{> Field id="inputLogin" name="login" type="text" placeholder="Логин"}}
  {{> Field id="inputPassword" name="password" type="password" placeholder="Пароль"}}
  {{/inline}}

  {{#*inline "footer"}}
  {{> Button id="btnAuth" class="button button-primary" text="Войти"}}
  {{> Link url="#" class="link" text="Нет аккаунта?"}}
  {{/inline}}
  {{/Modal}}
</div>
{{> Footer links=footerLinks }}
