<div class="profile">
  {{#> Modal class="modal-profile" title="Профиль" backButton=true footer=true form=true }}
  {{#*inline "body"}}

  <div class="avatar profile__avatar">
    <a href="#" class="profile__avatar-change">
      {{> Avatar name="Avatar.svg"}}

      <div class="profile__avatar-overlay">
        {{> Icon name="Edit"}}
      </div>
    </a>
  </div>

  {{> Field id="inputName" name="first_name" type="text" icon="User" placeholder="Имя"}}
  {{> Field id="inputSecondName" name="second_name" type="text" placeholder="Фамилия"}}
  {{> Field id="inputDisplayName" name="display_name" type="text" placeholder="Отображаемое имя"}}
  {{> Field id="inputLogin" name="login" type="text" placeholder="Логин"}}
  {{> Field id="inputEmail" name="email" type="email" placeholder="Электронная почта"}}
  {{> Field id="inputPhone" name="phone" type="tel" placeholder="Телефон"}}

  {{/inline}}

  {{#*inline "footer"}}
  {{> Button id="btnSave" class="button button-blue" text="Сохранить"}}
  {{/inline}}
  {{/Modal}}
</div>
{{> Footer links=footerLinks }}
