@use "variables" as *;

.input {
    padding: 20px 24px;
    min-width: 300px;
    width: 100%;
    background: $bg-gray;
    border: 2px solid $bg-gray;
    height: 56px;
    border-radius: 12px;
    color: #c2c3cb;

    &-search {
        height: 36px;
        border: 1px solid $white-25;
        min-width: 100%;
    }

    &__label {
        color: $text-secondary;
        font-size: 14px;
        padding: 0 4px;
    }

    &.error {
        border: 2px solid $error-color;

        & + .input__label {
            color: $error-color;
        }
    }
}

.textarea {
    padding: 20px 24px;
    background: $bg-gray;
    border: 2px solid $bg-gray;
    height: 56px;
    border-radius: 12px;
    color: #c2c3cb;
    width: 100%;
    overflow-y: auto;
    resize: vertical;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
        width: 0;
    }

    &:focus {
        outline: none;
    }

    &.error {
        border: 2px solid $error-color;
    }
}

.field {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
    width: 100%;
}
