// Базовые цвета
$error-color: #d44638;

// Градации белого
@function alpha($color, $opacity) {
    @return rgba($color, $opacity);
}

$white: alpha(white, 1);
$white-50: alpha(white, 0.5);
$white-25: alpha(white, 0.25);

// Фоновые цвета
$bg-gray: #232627;
$bg-dark: #141718;

// Текстовые цвета
$text-primary: #fff;
$text-secondary: #a0a0a5;

// Элементы инпутов
$input-placeholder-color: #c2c3cb;
$input-bg: $bg-gray;

// SVG
$svg-fill: $text-primary;

// Кнопки
$button-primary-background: #1b1e20;
$button-primary-color: $text-primary;
$button-secondary-background: $bg-gray;
$button-secondary-color: #b1b1b1;

// Chat BG
$chat-message-bg-mine: rgb(172 173 185 / 50%);
$chat-message-bg: #232627;
