@use "./button";
@use "./link";
@use "./input";
@use "./single-page";
@use "./profile";
@use "./avatar";
@use "./chat";
@use "./notification";
@use "./dropdown";
@use "./modal";
@import "https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap";

* {
    box-sizing: border-box;
}

body,
html {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: $bg-gray;
    font-family: "Roboto Flex", sans-serif;
    color: $text-primary;
}

h2 {
    font-size: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
        margin: 0;
        padding-left: 8px;
    }
}

.auth,
.registration,
.error__page,
.profile {
    width: 100vw;
    height: 100%;
    min-height: calc(100vh - 120px);

    @include flex-center;

    margin: 40px 0;
    overflow-y: auto;
}

.home {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;

    &__chat-menu {
        max-width: 310px;
        width: 25%;
        height: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 8px;
        gap: 8px;

        .link {
            align-self: flex-end;
        }
    }

    &__chat-area {
        height: 100%;
        min-height: 100vh;
        width: 100%;
        background-color: $bg-dark;

        @include flex-center;

        flex-direction: column;
        padding: 16px;
    }
}

.error {
    &__page {
        max-width: 350px;
        flex-direction: column;
        gap: 20px;
        margin: 40px auto;
    }

    &__title {
        color: $text-primary;
    }
}

.footer {
    text-align: center;
    background-color: $bg-dark;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-nav {
        @include flex-center;

        gap: 16px;
    }

    .footer-link {
        color: $white-50;

        &.active {
            color: white;
        }
    }
}
