<div class="registration">
  {{#> Modal class="modal-auth" title="Регистрация" footer=true form=true }}
  {{#*inline "body"}}
  {{> Field id="inputFistName" name="first_name" type="text" placeholder="Имя"}}
  {{> Field id="inputSecondName" name="second_name" type="text" placeholder="Фамилия"}}
  {{> Field id="inputLogin" name="login" type="text" placeholder="Логин"}}
  {{> Field id="inputPassword" name="password" type="password" placeholder="Пароль"}}
  {{> Field id="inputEmail" name="email" type="email" placeholder="Электронная почта"}}
  {{> Field id="inputPhone" name="phone" type="tel" placeholder="Телефон"}}
  {{/inline}}

  {{#*inline "footer"}}
  {{> Button url="#" class="button button-primary" text="Войти"}}
  {{> Link url="#" class="link" text="Нет аккаунта?"}}
  {{/inline}}
  {{/Modal}}
</div>
{{> Footer links=footerLinks }}
