<div class="home">
  <aside class="home__chat-menu">
    {{> Link class="link" text="Профиль" icon="ArrowRight"}}
    {{> Field id="search" type="text" placeholder="Поиск" name="search" class="input-search" }}
    Тут будет лента переписки</aside>

  <div class="home__chat-area">Выберите чат, чтобы отправить сообщение</div>
</div>
{{> Footer links=footerLinks }}
