<div class="error__page">
    <img class="error__img" src="/{{ img }}" alt="{{ img_alt }}">
    <h1 class="error__title">{{ title }}</h1>
    {{> Button id="btnBack" class="button button-primary" text="Назад к чатам"}}
</div>
{{> Footer links=footerLinks }}
